<!DOCTYPE html>

<link rel="stylesheet" href="/static/styles.css">
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>hello</title>
    </head>
    <body>
        <div class="wrap">
        {% block body %}{% endblock %}
    
    </body>
   
    <p>
        <h4>Created by Mavis Hu</h4>
        <h5>
        University of Washington <br>
        Global Innovation Exchange <br>
        TECHIN 509 Technology Foundations <br>
        Week 10_Assignment<br>
        </h5>
    </p> 
</html>   
